.flex-height {
	height: 99%;
	display: flex;
	flex-direction: column;
}
.flex-height-content {
	height: 0px;
	flex-grow: 1;
}
.h-line {
	width: 100%;
	height: 1px;
	background-color: #eaeaea;
}