apiVersion: v1
kind: Secret
metadata:
  name: hbg-secret
type: Opaque
data:
  hbgdb_username: aGJnLWRidXNlcg==
  hbgdb_password: aGJnLXBhc3N3b3JkLWRhdGFiYXNl
  # Server=hbg-db;port=5432;Database=hbgidentitydb; Uid=hbg-dbuser; Pwd=hbg-password-database
  hbgdb-identity_string: U2VydmVyPWhiZy1kYjtwb3J0PTU0MzI7RGF0YWJhc2U9aGJnaWRlbnRpdHlkYjsgVWlkPWhiZy1kYnVzZXI7IFB3ZD1oYmctcGFzc3dvcmQtZGF0YWJhc2U=
  # example for other databases withih the same database
  # Server=hbg-db;port=5432;Database=hbgotherdb; Uid=hbg-dbuser; Pwd=hbg-password-database
  # hbgotherdb_string: U2VydmVyPWhiZy1kYjtwb3J0PTU0MzI7RGF0YWJhc2U9aGJnaWRlbnRpdHlkYjsgVWlkPWhiZy1kYnVzZXI7IFB3ZD1oYmctcGFzc3dvcmQtZGF0YWJhc2U===

  # Constructor database connection string
  # Server=hbg-db;port=5432;Database=hbgconstructordb; Uid=hbg-dbuser; Pwd=hbg-password-database
  hbgdb-constructor_string: U2VydmVyPWhiZy1kYjtwb3J0PTU0MzI7RGF0YWJhc2U9aGJnY29uc3RydWN0b3JkYjsgVWlkPWhiZy1kYnVzZXI7IFB3ZD1oYmctcGFzc3dvcmQtZGF0YWJhc2U=

  # Gemini API Key (base64 encoded)
  # Replace with your actual Gemini API key encoded in base64
  # To encode: echo -n "YOUR_API_KEY" | base64
  # AIzaSyBuevL-B2DRr83Zfv2MXypx2tx12AB5foc
  gemini-settings-apikey: aGJnLWRidXNlcg==
  # to access database from external ip address add permissions for user, with actual password
  # GRANT ALL ON *.* to 'hbg-dbuser'@'%' IDENTIFIED BY 'hbg-password-database';
  # or add this user with UI (not works)
