apiVersion: v1
kind: ConfigMap
metadata:
  name: hbg-configmap
data:
  hbg-spa-url: https://spa.hbg.lol
  asp_hosting_urls: http://+:80 # hosting url for asp.net application  REMOVED: https://+:443;
  database_name: hbgidentitydb

  hbg-admin-url: https://admin.hbg.lol
  hbg-admin-url-login: https://admin.hbg.lol/signin-oidc
  hbg-admin-url-logout: https://admin.hbg.lol/signout-callback-oidc

  hbg-admin-spa-url: https://adminspa.hbg.lol
  hbg-admin-spa-dev-url: http://localhost:4201

  hbg-sts-url: https://sts.hbg.lol

  hbg-adminapi-url: https://adminapi.hbg.lol
  hbg-adminapi-url-swagger: https://adminapi.hbg.lol/swagger/oauth2-redirect.html

  hbg-constructor-url: https://constructor.hbg.lol

  hbg-files-url: http://hbg-files-service.default.svc.cluster.local
  hbg-files-api-url: https://filesapi.hbg.lol
  hbg-spa-dev-url: http://localhost:4200

  enable-seeding: "false"

  gemini-settings-model: "imagen-3.0-generate-002"
  gemini-settings-max-retries: "3"
  gemini-settings-timeout-seconds: "30"
  # database_url: hbg-db-service                                 # url of database service
  # identity_origin: http://kubernetes.docker.internal:30700    # exernal url for identity.api service
  # identity_url: hbg-identityapi               # internal url for identity.api service
  # spa_origin: http://kubernetes.docker.internal:30799                  # external
  # spa_url: hbg-spa   
  # all origin strings must be added to "host" file
