apiVersion: apps/v1
kind: Deployment
metadata:
  name: hbg-constructor
  labels:
    app: hbg-constructor
spec:
  replicas: 1
  selector:
    matchLabels:
      app: hbg-constructor
  template:
    metadata:
      labels:
        app: hbg-constructor
      annotations:
        # This annotation tells trust-manager to inject the CA from /etc/trusted-cas into the container's trust store.
        trust-manager/inject: "true"
    spec:
      containers:
      - name: hbg-constructor
        imagePullPolicy: Never # never pull local images from docker, always use local
        image: exdrums/hbg-constructor
        ports:
        - containerPort: 80
        resources:
          limits:
            memory: "512Mi"
            cpu: "1000m"
          requests:
            memory: "256Mi"
            cpu: "500m"
        env:
        - name: ASPNETCORE_ENVIRONMENT
          value: Development
        - name: ASPNETCORE_URLS
          valueFrom:
            configMapKeyRef:
              name: hbg-configmap
              key: asp_hosting_urls
        - name: 'HBGIDENTITY'
          valueFrom:
            configMapKeyRef:
              name: hbg-configmap
              key: hbg-sts-url
        - name: 'HBGCONSTRUCTOR'
          valueFrom:
            configMapKeyRef:
              name: hbg-configmap
              key: hbg-constructor-url
        - name: 'AUDIENCE'
          value: api_constructor
        - name: DockerConfiguration__UpdateCaCertificate
          value: "true"
        # Optionally, if your trust-manager requires a volume mount:
        volumeMounts:
        - name: trusted-ca
          mountPath: /etc/ssl/certs/trusted
        # Health checks
        livenessProbe:
          httpGet:
            path: /health
            port: 80
          initialDelaySeconds: 40
          periodSeconds: 30
          timeoutSeconds: 3
          failureThreshold: 3
        readinessProbe:
          httpGet:
            path: /health
            port: 80
          initialDelaySeconds: 20
          periodSeconds: 10
          timeoutSeconds: 3
          failureThreshold: 3
      volumes:
      - name: trusted-ca
        emptyDir: {}
---
apiVersion: v1
kind: Service
metadata:
  name: hbg-constructor-service
  labels:
    app: hbg-constructor
spec:
  # type: NodePort
  selector:
    app: hbg-constructor
  ports:
  - protocol: TCP
    port: 80
    targetPort: 80
    # nodePort: 30705
