<dx-data-grid
  [dataSource]="ds"
  [remoteOperations]="true"
  (onInitialized)="grid = $event.component">
  <dxo-selection mode="single"></dxo-selection>
  <dxo-editing [allowAdding]="true" [allowUpdating]="true" [allowDeleting]="true" mode="popup">
    <dxo-form>
      <dxi-item dataField="name"></dxi-item>
    </dxo-form>
  </dxo-editing>
  <dxo-toolbar>
    <dxi-item location="after" name="addRowButton"></dxi-item>
    <dxi-item location="after" name="columnChooserButton"></dxi-item>

    <dxi-item location="after">
      <div *dxTemplate>
        <dx-button icon="refresh" (onClick)="ds.refresh()"></dx-button>
      </div>
    </dxi-item>

  </dxo-toolbar>

  <dxi-column dataField="planID"></dxi-column>
  <dxi-column dataField="name"></dxi-column>

</dx-data-grid>