<dx-data-grid
  width="100%"
  height="100%"
  [dataSource]="ds"
  [remoteOperations]="true"
  (onInitialized)="grid = $event.component">

  <dxo-selection mode="single"></dxo-selection>
  <dxo-editing [allowAdding]="true" [allowUpdating]="true" [allowDeleting]="true" mode="popup">
    <dxo-popup height="520" width="400"></dxo-popup>
    <dxo-form colCount="1">
      <!-- <dxi-item dataField="senderID"></dxi-item> -->
      <dxi-item dataField="name"></dxi-item>
      <dxi-item dataField="address"></dxi-item>
      <dxi-item dataField="serverAddress"></dxi-item>
      <dxi-item dataField="login"></dxi-item>
      <dxi-item dataField="passcode"></dxi-item>
    </dxo-form>
  </dxo-editing>

  <dxo-toolbar>
    <dxi-item name="addRowButton"></dxi-item>
    <dxi-item name="columnChooserButton"></dxi-item>
  </dxo-toolbar>

  <dxi-column dataField="senderID"      [visible]="false"></dxi-column>
  <dxi-column dataField="name"          [visible]="true"></dxi-column>
  <dxi-column dataField="address"       [visible]="false"></dxi-column>
  <dxi-column dataField="serverAddress" [visible]="false"></dxi-column>
  <dxi-column dataField="login"         [visible]="false"></dxi-column>
  <dxi-column dataField="passcode"      [visible]="false"></dxi-column>


</dx-data-grid>
