<ng-container [ngSwitch]="mode$ | async">

  <div *ngSwitchCase="PlannerMode.Empty" class="empty-part"></div>

  <div *ngSwitchCase="PlannerMode.Uploader" class="uploader-part">
    <dx-file-uploader
      width="100%"
      accept=".jpg, .jpeg"
      height="100%"
      name="file"
      [multiple]="false"
      [disabled]="isReadOnly$ | async"
      (onInitialized)="uploaderComponent$.next($event.component)"
      [uploadFile]="uploadFile"
    ></dx-file-uploader>
  </div>

  <div *ngSwitchCase="PlannerMode.Main">
    <hbg-planner-view></hbg-planner-view>
  </div>

</ng-container>
