.configuration-form {
  padding: 16px;
  background-color: #fff;
  border-radius: 4px;

  ::ng-deep .dx-form {
    .dx-field-item {
      margin-bottom: 16px;
    }

    .dx-button {
      margin-top: 8px;
    }
  }
}
